body {
    font-family: Arial, sans-serif;
    background-color: rgb(159, 191, 159);
}

/*------------------------*/
/*Form for adding Recipe */
/*----------------------*/

.Title {
    text-align: center;
}

.add-recipe-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.add-recipe-form {
    background-color:  white;
    padding: 2px;
    border-radius: 8px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    width: 60vh;
    max-height: 600px;
    text-align: left;
    margin: 0 auto;
}

.inputs-textarea-select {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center elements horizontally */
}

.inputs-textarea-select input,
.inputs-textarea-select textarea,
.inputs-textarea-select select {
    width: 80%; /* Full width for inputs, textareas, and select */
    height: 40px; /* Fixed height for consistency */
    padding: 8px; /* Padding inside inputs for better appearance */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    margin-bottom: 2px; /* Space below each form element */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px; /* Rounded corners for better appearance */
    font-size: 16px; /* Consistent font size */
    text-align: center;
    color: #1b631f;
}

.inputs-textarea-select textarea {
    height: 90px; 
    resize: none; 
}


/* Button: AddRecipe */
.add-recipe-form button {
    display: block;
    margin: 10px auto; /* Center the button and add some space above it */
}

.add-recipe-button-container {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    margin-top: 10px; /* Space between input and button */
}

.add-recipe-button {
    background-color:rgb(159, 191, 159);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    
}

.add-recipe-button:hover {
    background-color: #45a049;
}



/* Button: View Button */

.view-button-group {
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
}

.view-button {
    background-color: rgb(159, 191, 159);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; 
}

.view-button:hover {
    background-color: #45a049;
}


/*------------------------*/
/* Recipe Card Container */
/*----------------------*/
.recipe-container {
    padding: 20px;
}

.recipes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
}

.recipe-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Recipe Photo for all */
.recipe-photo {
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.recipe-card h3 {
    margin-top: 0;
}

.recipe-card p {
    margin: 8px 0;
}


/* Recipe For User */

.recipe-container-user {
    padding: 20px;
}

.edit-field {
    background-color:  white;
    padding: 2px;
    border-radius: 8px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
}
.edit-form-user .edit-field {
    display: flex;
    flex-direction: column-reverse; /* Reverses the order of items in column layout */
}

.edit-form-user .edit-input,
.edit-form-user .edit-textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px; /* Adjust spacing between input and textarea */
}

.edit-form-user .button-group {
    margin-top: 10px; /* Adjust spacing between inputs and buttons */
    display: flex;
    justify-content: center; /* Align buttons to the right */
}

.edit-form-user .cancel-button,
.edit-form-user .save-button {
    margin-left: 15px; /* Add space between buttons */
    margin-bottom: 10px;
}

/* Save and Cancel Button */
.button-group {
    display: flex;
    justify-content: center; /* Align buttons to the right */
    margin-top: 10px; /* Example margin */
}

.save-button, .cancel-button {
    background-color: rgb(159, 191, 159);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; /* Example margin between buttons */
}

.save-button:hover, .cancel-button:hover {
    background-color: #45a049;
}

/* Edit and Delete Button */

.button-group {
    display: flex;
    justify-content: center; /* Align buttons to the right */
    margin-top: 10px; /* Example margin */
}

.edit-button, .delete-button {
    background-color: rgb(159, 191, 159);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; /* Example margin between buttons */
}

.edit-button:hover, .delete-button:hover {
    background-color: #45a049;
}


/* Recipe Card*/
.recipe-card-container {
    display: flex;
    justify-content: flex-end; /* Aligns content towards the right */
    margin: 20px auto; /* Center horizontally */
    max-width: 800px; /* Adjust width as needed */
}

.recipe-card-detail {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px; /* Adjust width as needed */
}

.recipe-card-detail .recipe-details {
    margin-bottom: 20px;
}

.recipe-card-detail .recipe-details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.recipe-card-detail .recipe-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.recipe-card-detail .recipe-details p {
    margin-bottom: 10px;
}

.recipe-card-detail .recipe-details ul {
    margin-bottom: 10px;
}

.recipe-card-detail .recipe-details li {
    list-style-type: disc;
    margin-left: 20px;
}

.recipe-card-detail .recipe-details h3 {
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

.recipe-card-detail .comments-section {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.recipe-card-detail .comments-section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.recipe-card-detail .comments-section ul {
    list-style: none;
    padding-left: 0;
}

.recipe-card-detail .comments-section ul li {
    margin-bottom: 10px;
}


/* Recipe Card Comment*/

.comment-recipe-container {
    background-color: #f9f9f9; /* Light background for contrast */
    border: 2px solid #ccc; /* Border around the entire section */
    border-radius: 8px; /* Rounded corners */
    padding: 16px; /* Padding inside the container */
    max-width: 600px; /* Maximum width for the container */
    margin: 0 auto; /* Center the container */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

.add-comment-form {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.comment-input {
    height: 60px; 
}

.comment-input {
    height: 100px;
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Submit Button*/

.submit-button-container {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    margin-top: 10px; /* Space between input and button */
}

.submit-button {
    background-color:rgb(159, 191, 159);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #45a049;
}


/* Title*/

.add-comment-title {
    font-size: 20px; /* Adjust font size as needed */
    font-weight: bold; /* Make the text bold */
    display: flex;
    justify-content: center;
}


/* Detail Page Layout*/

.detail-page-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the start of the container */
}

.detail-page-container > * {
    flex: 1; /* Make each child take up equal space horizontally */
    margin: 10px; /* Add some margin for spacing */
}

.detail-page-container > :first-child {
    margin-right: 20px; /* Increase the right margin of the first child */
    height: 50%; /* Make AddComment half the height of RecipeCard */
}

.detail-page-container > :last-child {
    height: 100%; /* Make RecipeCard take full height */
}

@media (max-width: 768px) {
    .detail-page-container {
        flex-direction: column; /* Stack vertically on small screens */
    }

    .detail-page-container > :first-child,
    .detail-page-container > :last-child {
        margin-right: 0; /* Reset the right margin on small screens */
        height: auto; /* Reset heights to auto on small screens */
    }
}

/*------------------*/
/* Home Page Layout*/
/*----------------*/

.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.top-row {
    display: flex;
    width: 82%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.welcome-p {
    flex: 1;
    margin: 0;
    padding: 0 20px;
}

.add-recipe {
    flex-shrink: 0;
}

.all-recipes {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}


/*---------*/
/* Log in */
/*-------*/

.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.login-heading {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.login-input-group {
    margin-bottom: 15px;
}

.login-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.login-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #45a049;
}

/* Log in */

.log-in-link {
    text-align: center;
    padding: 20px;
}

.log-in-link span {
    margin-right: 10px;
}

.log-in-link a {
    color: #007bff;
    text-decoration: none;
}

.log-in-link  a:hover {
    text-decoration: underline;
}


/*---------*/
/* Sign Up */
/*-------*/

.signup-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.signup-heading {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.signup-input-group {
    margin-bottom: 15px;
}

.signup-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.signup-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #45a049;
}


/* sign up*/

.signup-link {
    text-align: center;
    padding: 20px;
}

.signup-link span {
    margin-right: 10px;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/*---------------*/
/* Profile Page */
/*-------------*/

.profile-container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 600px; /* Example: Limiting width for better readability */
    margin: 20px auto; /* Example: Centering the profile container */
}


.profile-photo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    max-width: 100%;
}

.profile-image {
    width: 150px; /* Adjust as necessary */
    height: 150px; /* Adjust as necessary */
    border-radius: 50%; /* Makes the image round */
    object-fit: cover; /* Ensures the image covers the entire element */
}


.profile-field {
    margin-bottom: 10px;
    background-color: #fff; /* Set background color to white */
    padding: 10px; /* Add padding for spacing */
}


.profile-input,
.profile-textarea,
.profile-text {
    border-radius: 4px;
    font-size: 17px;
    line-height: 2;
    max-width: 550px;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
}

.profile-field {
    margin-bottom: 15px; /* Adds some space between fields */
    text-align: center;  /* Centering the text in profile fields */
    border: 1px solid #161616;
}

.profile-label {
    font-size: 19px; /* Sets text size to 16px */
}

.profile-header {
    text-align: center; 
    font-size: 250%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

/* Footer */

.footer {
    text-align: center;
    padding: 20px;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}



/* Welcome Paragraph */
.welcome-p {
    font-family: 'Arial', sans-serif; /* Choose a suitable font family */
    font-size: 1.5rem; /* Adjust font size */
    font-weight: bold; /* Ensure text is bold for emphasis */
    color: rgb(9, 63, 26); /* Set text color */
    text-shadow: 0 0 10px rgba(0,0,0,0.5); /* Add a subtle shadow effect */
    padding: 20px; /* Add padding for spacing */
    display: inline-block; /* Ensure text wraps tightly around content */
    border-radius: 20px; /* Round the corners for a bubble effect */
}




/*Buttons Profile Page */
.button-group-profile {
    display: flex;
    justify-content: center; /* Align buttons to the right */
    margin-top: 10px; /* Example margin */
}


.edit-button-profile {
    background-color: rgb(159, 191, 159);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; 
    font-size: 18px;
    
}
.edit-button-profile:hover {
    background-color: #45a049;
}

.save-button-profile, .cancel-button-profile {
    background-color: rgb(159, 191, 159);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; 
    font-size: 18px;
}

.save-button-profile:hover, 
.cancel-button-profile:hover {
    background-color: #45a049;
}