body {
    font-family: Arial, sans-serif;
    background-color: rgb(159, 191, 159);
}

/* button {
    cursor: pointer;
    background-color: #ff6f3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
} */



/*Form for adding Recipe */

.form-container {
    display: flex;
    justify-content:center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: 60vh;           /* Full height of viewport */
}
.add-recipe-form {
    background-color:  rgb(159, 191, 159);
    padding: 2px;
    border-radius: 8px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: left;
    
}

.add-recipe-form button {
    
    display: block;
    margin: 10px auto; /* Center the button and add some space above it */
}

.Title {
    text-align: center;
}

.add-recipe-form input,
.add-recipe-form textarea,
.add-recipe-form select {
    
    width: 120%;/* Full width for inputs, textareas, and select */
    padding: 8px; /* Padding inside inputs for better appearance */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
} 


/* Recipe Card Container */
.recipe-container {
    padding: 20px;
}

.recipes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.recipe-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Recipe Photo for all */
.recipe-photo {
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.recipe-card h3 {
    margin-top: 0;
}

.recipe-card p {
    margin: 8px 0;
}


/* Recipe For User */

.recipe-container-user {
    padding: 20px;
}



.edit-field {
    background-color:  white;
    padding: 2px;
    border-radius: 8px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
}

.edit-form-user textarea,
.edit-form-user input {
    width: 50%;/* Full width for inputs, textareas, and select */
    padding: 8px; /* Padding inside inputs for better appearance */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}