/*----------------------*/
/* Button: View Button */
/*--------------------*/

.view-button-group {
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
}

.view-button {
    background-color: rgb(159, 191, 159);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; 
}

.view-button:hover {
    background-color: #45a049;
}




/*------------------------*/
/* Recipe Card Container */
/*----------------------*/
.recipe-container {
    padding: 20px;
}

.recipes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
}

.recipe-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}