body {
    font-family: Arial, sans-serif;
    background-color: rgb(159, 191, 159);
}


/*-----------------------*/
/* Recipe Photo for all */
/*---------------------*/
.recipe-photo {
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.recipe-card h3 {
    margin-top: 0;
}

.recipe-card p {
    margin: 8px 0;
}



/*---------*/
/* Footer */
/*-------*/

.footer {
    text-align: center;
    padding: 20px;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}


